#container{
    position: relative;
    width: calc(90vw - 1rem);
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-container{
    width: 80%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: .25rem solid black;
}

input{
    width: 50%;
}

/*Data*/
#data-container{
    width: 99.5%;
    height: 72%;
    margin-top: 2%;
}

#data-header{
    width: 100%;
    height: 5%;
    display: flex;
}
#data-header div{
    width: 12vw;
    text-align: center;
    border: .2rem solid black;
}
#data{
    width: 100%;
    height: 94%;
    overflow-y: auto;
}
.table-entry{
    width: 100%;
    display: flex;
}
.cell{
    width: 12vw;
    border: .2rem solid black;
    cursor: pointer;
    overflow:auto;
}
.cell:hover{
    background-color: rgb(247, 255, 135);
}

#name-search{
    display:flex;
    justify-content: center;
    width: 100%;
}

#display-all{
    width: 10vw;
    height: 3vh;
    border: .25rem solid black;
    border-radius: 1rem;
    font-weight: bold;
    background-color: blanchedalmond;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-all:hover{
    background-color: crimson;
}

#not-found{
    width: 90vw;
    display: flex;
    justify-content: center;
}

/* CHANGE ROW FORM */
#form-container{
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: blanchedalmond;
    border: .25rem solid black;
    z-index: 50;
    overflow: hidden;
}

.form-open{
    top: 10vh;
    left: 8vw;
}

.form-closed{
    top:-100%;
    left:-100%;
}

#form-labels{
    position: relative;
    width: 65vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

#form-labels div{
    display: flex;
    flex-direction: column;
}

textarea{
    width:15vw;
    height:10vh;
    resize: none;
}

#form-header{
    width: 70vw;
}

#form-close{
    width: 2vw;
    margin-left: auto;
    border: .1rem solid black;
    border-radius: 1rem;
    text-align: center;
    background-color: darkgray;
    cursor: pointer;
}

#form-close:hover{
    background-color: lightcoral;
}

#form-submit{
    display: flex;
    width: 70vw;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
}

#form-submit div{
    width:10vw;
    background-color: greenyellow;
    border: .15rem solid black;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-submit div:hover{
    background-color: lightcoral;
}

/* FORM CONFIRMATION */
#confirmation{
    position: absolute;
    width: 25vw;
    height: 25vh;
    border: .15rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: honeydew;
}

.conf-open{
    top: 15vh;
    left: 23vw;
}
.conf-closed{
    top:-100vh;
    left:-100vw;
}

#confirmation h2{
    width: 15vw;
    text-align: center;
}

#conf-button-box{
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
}

#conf-button-box div{
    width: 7vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#conf-button-box div:hover{
    background-color: dimgrey;
}

#confirm{
    background-color: forestgreen;
}

#decline{
    background-color: crimson;
}


